[submodule "/home/tanishk/websiteProject/Hugo-Programmer/Hugo-Programmer/exampleSite"]
	path = /home/tanishk/websiteProject/Hugo-Programmer/Hugo-Programmer/exampleSite
	url = https://github.com/TanishkThoria/Personal-Website.git
