<li>

  <div class="tvshape"></div>
  <div id="{{ .Title }}-post">

    <style>
      .dark-blue-background {
        background-color: #26373C;
	margin: 30px;
	padding: 20px;
      }
      
     .light-blue-background {
       background-color: #8BBDCA;
       margin: 30px;
       padding: 20px;
     }

      .tvshape {
        position: relative;
 	margin: 20px 10px;
	padding: 20px;
 	background: #455a64;
 	border-radius: 50% / 10%;
 	color: white;
 	text-align: left;
 	text-indent: .1em;
      }

      .tvshape:before {
	content: "";
 	position: absolute;
 	top: 10%;
 	bottom: 10%;
 	right: -5%;
 	left: -5%;
 	border-radius: 5% / 50%;
      }     	     

    </style>

    <script> 
      getTheme = window.localStorage && window.localStorage.getItem("colorscheme");
      getTheme = getTheme == null ? '{{$.Site.Params.utterances.theme}}' : getTheme;              

      if (getTheme == "light") {
        document.getElementById("{{ .Title }}-post").className = "light-blue-background" ;
      } else {
	document.getElementById("{{ .Title }}-post").className = "dark-blue-background" ;
      }
    </script>

    <p>
		
      <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>        

      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}"> {{ .Title }} </a>

      <a> &#8200; &#8200; &#8200; &#8200; </a>
      <span> {{ with .Params.categories }}{{ partial "taxonomy/categories.html" .}}{{ end }} </span>

    </p>  
 
    <hr>
    
    {{ if .Params.image }}
      <img src="{{ .Params.imageSrc }}" alt="Article image" style="width:{{ .Params.imageWidth }}px; height:{{ .Params.imageHeight }}px">
      <vr>
      <p> &#8200; &#8200; &#8200; &#8200; {{ .Description }} </p>
    
    {{ else }}
      <p> &#8200; &#8200; &#8200; &#8200; {{ .Description }} </p>
      
    {{ end }}

    <span class="tag"> {{ with .Params.tags }}{{ partial "taxonomy/tags.html" .}}{{ end }} </span>

    <br>

  </div>

</li>

<br>
<br>
