{{ with .Site.Params.social }}
<ul>
  {{ range sort . "weight" }}
    {{ if .icon }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
          <i class="{{ .icon }}" aria-hidden="true"></i>
        </a>
      </li>
    {{ else }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
      </li>
    {{ end }}

    {{ if .customImg }}     
      <li>
        <a id="custom-{{ .name }}-social" href="{{ .url }}"> </a>
      </li> 
          
      <script>

        getTheme = window.localStorage && window.localStorage.getItem("colorscheme");
        getTheme = getTheme == null ? '{{$.Site.Params.utterances.theme}}' : getTheme;
              
        if (getTheme === "dark") {
          document.getElementById("custom{{ .name }}Social").innerHTML = '<img src="{{ .imageSrcDarkMode }}" alt="{{ .name }} logo" style="width:{{ .imgWidth }}px;height:{{ .imgHeight }}px" aria-hidden="true">' ;

        } else {
          document.getElementById("custom{{ .name }}Social").innerHTML = '<img src="{{ .imageSrcLightMode }}" alt="{{ .name }} logo" style="width:{{ .imgWidth }}px;height:{{ .imgHeight }}px" aria-hidden="true">' ;
        }
                
      </script>
    
    
    {{ end }}

  {{ end }}

</ul>
{{ end }}
